.button{
  vertical-align: top;
  height: 60px;
  line-height: 60px;
  margin-left: 10px;
}

.mat-grid-list{
  display: flex;
  justify-content: center;
}
.example-card {
  max-width: 200px;
}
.mat-card-image{
  max-width: 30px;
  margin: 0 !important;
}
